<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="wrapper-header">
          <a href="{{ "/" | absolute_url }}">
            <img src="{{site.logo | relative_url}}" alt="Logo" />
          </a>
        </div>

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="mailto:bookmanize@gmail.com">Support <strong style="font-size: 10px;">bookmanize <br/> @gmail.com</strong></a></li>
          <li><a href="https://chrome.google.com/webstore/detail/bookmanize-advanced-bookm/idbigcbhfbdclcbljcoopcjgkejaknnl">Download <strong>Extension</strong></a></li>
          <li><a href="https://github.com/bookmanize/bookmanize.github.io">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}

        <a href="/versions">
          Versions
        </a>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
      </footer>
    </div>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
      (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5ef1e6f54a7c6258179b2c68/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
      })();
    </script>
    <!--End of Tawk.to Script-->
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
